# 1. Bỏ qua toàn bộ tất cả các file và thư mục
*

# 2. Chỉ cho phép theo dõi các file code trong thư mục gốc
!*.c
!*.h
!README.md
!.gitignore

# 3. Đảm bảo chắc chắn chặn các thư mục rác (kể cả khi lỡ gõ sai lệnh git)
/TTVXL/
/Thuc Hanh - Copy/
/__history/
/Project Backups/
/test/
