# Loại bỏ các thư mục rác không cần thiết
TTVXL/
Thuc Hanh - Copy/
__history/
Project Backups/
test/

# Loại bỏ các file do trình biên dịch CCS C sinh ra
*.hex
*.cof
*.lst
*.err
*.esym
*.sym
*.tre
*.xsym
*.ccspjt
*.STA

# Loại bỏ các file cấu hình và mô phỏng của Proteus
*.pdsprj
*.workspace

# Ngoại lệ: Cho phép đẩy file mạch mô phỏng lên
!Simulation_Circuit.pdsprj

# Loại bỏ các file nhị phân và tài liệu không liên quan
*.msi
*.pdf
